.EmojiPicker {
  width: 256px;
}

.EmojiList {
  display: flex;
  flex-wrap: wrap;
}

.Emoji {
  font-size: 18px;
  width: 32px;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
}

.Emoji:hover {
  background-color: #EEEEEE;
}

.SearchBar {
  width: 220px;
  box-sizing: border-box;
  margin-bottom: 10px;
}